* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #4081d6 0%, #61ff5b 100%);
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 2rem;
}


header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bild {
  margin-left: 700px;
  
}
